@font-face {
    font-family: Montserrat-light;
    src: url("../../fonts/Montserrat-Light.ttf");
}

.paesage{
    display: flex;
    justify-content: center;
   
}

.paesage img{
    width: 90%;
    border-radius: 25px;
    object-fit: cover;
}

.collapses-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 12%;
   
}

.collapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title-collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    padding-right: 15px;
    padding-left: 20px;
    border-radius: 5px;
}

.title-collapse h2{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.vector-down{
    width: 24px;
    height: 13.17px;
    cursor: pointer;
    
    &:active{
        animation: down 500ms  forwards;
    }
}

.vector-up{
    width: 24px;
    height: 13.17px;
    cursor: pointer;
    
    &:active{
        animation: up 500ms  backwards; 

    }
}

@keyframes down{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-180deg);
    }
}

@keyframes up {
    0%{
        transform: rotate(-180deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.text{
    display: none;
}

.text-show{
  width: 99%;
  height: auto;
  position: relative;
  top: 10%;
  border: 1px solid #F6F6F6;
  border-radius: 5px 0px;
  background-color: #F6F6F6;
  color: hsl(0, 100%, 69%);
  font-size: 24px;
  font-family: Montserrat-light;
 padding: 36px 10px 30px 27px;
  margin-bottom: 20px;
  
}

@media screen and (max-width:500px) {

    .paesage img{
        height: 223px;
        object-fit: cover;
        margin-top: 10px;
    }

    .collapses-section{
        width: 90%;
        margin-left: 5%;
    }

    .title-collapse h2{
        font-size: 20px;
    }

    .title-collapse img{
        width: 16px;
        height: 9px;
       
    }

    .text-show{
        font-size: 16px;
        padding: 23px 10px 52px 10px;
    }

    
    
}