.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
}

.footer img{
    width: 122px;
    height: 40px;
    padding-top: 3%;
}

.footer p{
    color: white;
}