
.image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.image-container img{
    width: 60%;
    height: 500px;
    margin-bottom: 60px;
    
}
.vector-left img, .vector-right img{
    width: 20px;
    height: 30px;
    background-color: black;
    
   
}

.vector-left{
    position: absolute;
    left: 25%;
    bottom: 45%;
    z-index: 1;
}

.vector-right{
    position: absolute;
    left: 70%;
    bottom: 45%;
    z-index: 1;
}